<nav class="navbar navbar-expand-lg bg-dark navbar-dark  ">
    <a class="navbar-brand"><i class="material-icons align-middle text-white" href="#">trending_down</i></a>
    <a class="navbar-brand mr-auto" href="#">Stock Market</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar" >
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav ml-auto">
                <li class="nav-item p-2" *ngIf='getRole()=="admin" '><a routerLink="/excel-upload" class="text-white"
                    routerLinkActive="active-link">File Upload</a></li>
                    <li class="nav-item p-2" *ngIf='getRole()=="user" '><a routerLink="/chart-compare" class="text-white"
                        routerLinkActive="active-link">Chart Comparision</a></li>
              <li class="nav-item p-2" *ngIf='getRole()=="admin"||getRole()=="user"'><a routerLink="/editprofile" class="text-white"
                  routerLinkActive="active-link">Edit Profile</a></li>
              <li class="nav-item p-2" *ngIf='getUser()!=null'><a routerLink="/company" class="text-white"
                  routerLinkActive="active-link"><i
                    class="material-icons align-middle text-white">account_circle</i>{{getUser()}}</a></li>
              <li class="nav-item p-2" *ngIf='getUser()==null'><a routerLink="/login" class="text-white"
                  routerLinkActive="active-link">Login</a></li>
              <li class="nav-item p-2" *ngIf='getUser()==null'><a routerLink="/signup" class="text-white"
                  routerLinkActive="active-link">Signup</a></li>
              <li class="nav-item p-2" *ngIf='getUser()!=null'><a routerLink="" class="text-white"
                  routerLinkActive="active-link" (click)="logout()">Logout</a></li>
        </ul>
    </div>
</nav>

