a,a:hover{
    text-decoration:none;
}

.mbr-white {
    color: #ffffff;
}
.col-md-10{
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.container {
    margin-right: auto;
    margin-left: auto;
    margin-top:55px;
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
    background-image: url("https://images.unsplash.com/photo-1517424788495-0d03ec42e244?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80");
    position: absolute;
    max-width:100%;
    overflow:auto;
    left: 0;right: 0;
    top: 0;bottom: 0;
   background-repeat: no-repeat;
   background-size: cover;
}
.align-center {
    text-align: center;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    margin-top: 150px;
}
.mbr-section-title {
    font-style: normal;
    line-height: 1.2;
}
.mbr-bold {
    font-weight: 700;
}
.h1{
    word-break: break-word;
    word-wrap: break-word;
}
.pb-3 {
    padding-bottom: 1rem!important;
}
.mbr-section-btn {
    margin-left: -.25rem;
    margin-right: -.25rem;
    font-size: 0;
}
div {
    display: block;
}
.btn-primary, .btn-primary:active {
    background-color: #149dcc;
    border-color: #149dcc;
    color: #ffffff;
}
.btn-md {
    font-weight: 500;
    letter-spacing: 1px;
    margin: .4rem .8rem !important;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    padding: 1rem 3rem;
    border-radius: 3px;
}
.btn {
    font-weight: 500;
    border-width: 2px;
    font-style: normal;
    letter-spacing: 1px;
    margin: .4rem .8rem;
    white-space: normal;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    padding: 1rem 3rem;
    border-radius: 3px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    word-break: break-word;
}
.display-4 {
    font-family: 'Rubik', sans-serif;
    font-size: 1rem;
    line-height: 1;
    word-break: break-word;
    word-wrap: break-word;
}

.btn-white-outline, .btn-white-outline:active, .btn-white-outline.active {
    background-color: #149dcc;
    border-color: #149dcc;
    color: #ffffff;
}
a{
    cursor: pointer;
    touch-action: manipulation;
}
.display-5 {
    font-family: 'Rubik', sans-serif;
    font-size: 1.5rem;
}
.display-1 {
    font-family: 'Rubik', sans-serif;
    font-size: 4.25rem;
}








