<div class="container align-center">
        <div class="row justify-content-md-center">
            <div class="mbr-white col-md-10">
                <h1 class="mbr-section-title mbr-bold pb-3 mbr-fonts-style display-1">STOCK MARKET</h1>
                
                <p class="mbr-text pb-3 mbr-fonts-style display-5">
                        An investment in knowledge pays the best interest
                </p>
                <div class="mbr-section-btn"><a class="btn btn-md btn-primary display-4" routerLink="/signup">REGISTER HERE !</a>
                    <a class="btn btn-md btn-white-outline display-4" routerLink="/login">LOGIN</a></div>
            </div>
        </div>
    </div>


